{% extends "src/layout.njk" %}

{% block header %}
<h1>Hello World</h1>
{% endblock %}

{% block section %}
<p>This is aaa</p>
{% endblock %}


{% block md %}
{% markdown %}
# Faucet
## I like
{% endmarkdown %}
{% endblock %}



{% block externalmd %}
{% markdown './src/content.md' %}
{% markdown %}
{% include './content.md' %}
{% endmarkdown %}
{% endblock %}
